[submodule "vendor/rtk"]
	path = vendor/rtk
	url = https://github.com/rtk-ai/rtk
[submodule "vendor/graphify"]
	path = vendor/graphify
	url = https://github.com/safishamsi/graphify
[submodule "cotrex-ai"]
	path = cotrex-ai
	url = https://github.com/pamod-madubashana/cotrex-ai
